.logo-container {
	width: 400px;
	height: 609px;
	position: absolute;
	top: 30%;
	right: 8%;
	bottom: 0;
	left: auto;
	margin: auto;
	.outline-logo {
		width: 100%;
		height: auto;
		bottom: 0;
		transform: rotateZ(20deg) !important;
	}
	.solid-logo {
		position: absolute;
		top: auto;
		right: auto;
		bottom: auto;
		left: 0;
		margin: auto;
		width: 100%;
		animation: fadeIn1 ease 10s;
		transition: all 1s linear;
		transform: rotateZ(20deg);
		z-index: 1;
	}
	@keyframes fadeIn1 {
		0% {
			opacity: 0;
		}
		30% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
@media screen and (max-width: 830px) {
	.logo-container {
		width: 200px;
		height: 409px;
		position: absolute;
		top: 30%;
		right: 8%;
		bottom: 0;
		left: auto;
		margin: auto;
	}
}
.svg-container {
	stroke: #ffd700;
	stroke-width: 10;
}
